
        body {
            font-family: monospace;
            font-size: 20px;
            text-align: center;
            background: rgb(245, 242, 242);
            color:rgb(0, 0, 0);
            margin: 3em;
          }
          
          strong {
            text-decoration: underline;
          }
          
          button {
            background: rgb(255, 0, 68);
            color: black;
            border: none;
            padding: 10px 15px;
            font-size: 1.2em;
            font-family: monospace;
            font-weight: bold;
          }
          button:active {
            background: rgb(35, 60, 220);
          }
          
          .scoreboard {
            width: 14em;
            margin: auto;
            border: 1px solid rgb(0, 0, 0);
          }
          .scoreboard h2 {
            border-bottom: 2px solid #000;
            margin: 0;
            padding: 10px;
          }
          .scoreboard table {
            margin: 10px auto;
            width: 100%;
            border-collapse: collapse;
          }
          .scoreboard th, .scoreboard td {
            text-align: center;
          }
          .scoreboard td {
            font-size: 3em;
            padding: 0 20px;
          }
          
          #status {
            margin-top: 20px;
          }

          /* github icon*/
      div img.imgwp{

        position: fixed;
        bottom: 10px;
        right: 10px;
        border-radius: 50%;
        height: 70px;

      }

      @media only screen and (max-width: 450px) {
        div img.imgwp{height: 50px;
        }
      }
